# Numerous always-ignore extensions
*.diff
*.err
*.orig
*.rej
*.swo
*.swp
*.vi
*~
*.psd
*.rdb

# OS or Editor folders
.DS_Store
Thumbs.db
.cache
.project
.pydevproject
.settings
.tmproj
*.esproj
nbproject
*.sublime-project
*.sublime-workspace

# Translations
*.mo

# Folders to ignore
.hg
.svn
.CVS
.build
frontend/static/*
project

# Unit test / coverage reports
.coverage
.tox

# npm
node_modules

# Bower
frontend/libaries/*
bower_components

# Sas
.sass-cache

#nodemon
.nodemonignore

#config
config.json